@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.div_wrap2 {
    font-family: 'NanumSquareNeo-Variable';
    display: flex;
    justify-content: center;
    width: 60%;
    height: 500px;
    margin: auto;
}

.div_wrap2 img {
    margin-top: 100px;
    width: 400px;
    height: 300px;
}

.detail_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    left: 20px;
    margin-top: 200px;
    text-align: start;
}

h2 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
}
